table.formgroup {
width: auto;
margin: 0;
clear: both;
border: none;
}

table.formgroup tr td {
padding-left: 0px;
padding-right: 5px;
border: none;
}

table.formgroup tr td div.form-item{
margin-top: 0px;
margin-bottom: 5px;
}

tbody {
border:none !important;
}

th.storm_list_operations {
text-align: right;
white-space: nowrap;
padding: 0.3em 0.5em;
}

td.storm_list_operations {
text-align: right;
white-space: nowrap;
}

div.storm_popup {
display:none;
z-index: 100;
border: 1px solid black;
background-color: #fff;
}

div.storm_popup_inner {
text-align: center;
}

div.storm_popup_inner form div div.form-item {
margin: 0;
}

div.storm_popup_inner form div input.form-submit {
margin: 5px 0 0 0;
}

div.storm_popup_title {
float: left;
text-align: center;
color: #fff;
width: 100%;
background-color: #5294C1;
}

div.storm_popup_inner {
clear: both;
}

div.storm_list_form_report {
display:none;
width: 0px;
height: 0px;
}

div.storm_quick_shortcuts {
clear: both;
}

ul.storm_quick_shortcuts {
list-style-type: none;
margin: 0;
}

ul.storm_quick_shortcuts li {
background: transparent;
background-color: #5294C1;
display: inline;
float: left;
padding: 0;
margin: 0 1pt 1pt 0;
}

ul.storm_quick_shortcuts li a {
display: block;
width: 20px;
height: 20px;
text-align: center;
font-weight: bold;
color: #ffffff;
}

form.stormcomponent_node_form #edit-preview {
  display: none;
}

tr.formgroup {
  background-color: #ffffff !important;
  border: none !important;
}

dt.stormcomponent {
padding-left: 40px;
padding-top: 10px;
height: 40px;
}

dt.stormcomponent a {
font-weight: bold;
margin-right: 5px;
}

dt#stormorganizations {
background: transparent url(images/organizations.png) no-repeat top left;
}

dt#stormprojects {
background: transparent url(images/projects.png) no-repeat top left;
}

dt#stormtasks {
background: transparent url(images/tasks.png) no-repeat top left;
}

dt#stormtickets {
background: transparent url(images/tickets.png) no-repeat top left;
}

dt#stormpeople {
background: transparent url(images/people.png) no-repeat top left;
}

dt#stormteams {
background: transparent url(images/teams.png) no-repeat top left;
}

dt#stormknowledgebase {
background: transparent url(images/knowledgebase.png) no-repeat top left;
}

dt#stormtimetrackings {
background: transparent url(images/timetrackings.png) no-repeat top left;
}

dt#stormnotes {
background: transparent url(images/notes.png) no-repeat top left;
}

dt#storminvoices {
background: transparent url(images/invoices.png) no-repeat top left;
}

dt#stormexpenses {
background: transparent url(images/expenses.png) no-repeat top left;
}

dt#stormattributes {
background: transparent url(images/attributes.png) no-repeat top left;
}

dt#stormconfiguration {
background: transparent url(images/configuration.png) no-repeat top left;
}

.container-inline .container-inline-date div, .container-inline div.container-inline-date, .container-inline .container-inline-date input {
  display: block;
}

.view .attachment .storm-icon-add-view {
  float: right;
}
